@import "../../scss/variables";

.footer-title {
  background: $primary;
}
.content_title {
  font-family: $regular;
  font-size: $regular-size;
}
.social_network {
  font-family: $regular;
  font-size: $regular-size;
  color: $offwhite;
}

.footer-icon-social {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: $offwhite;
  transition: all 0.2s linear;
  padding-top: 4rem;
}
.footer-icon-social:hover {
  color: $offwhite;
   transform: translateY(-3px);
}
.form-control {
  font-family: $regular;
  font-size: $regular-size;
}
